@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');
* {
    box-sizing: border-box;
}
/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Add some styles for body*/
body {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    color: #1c1d1d;
    font-family: 'Sora', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    display: grid;
    background: #FAFAF9;
    place-content: center;
}



.jv-card{
    max-width: 336px;
    height: min-content;
    background: white;
    color: #6C727F;
    border-radius: 20px;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);

    & .header{
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-bottom: 16px;
   
        & img.photo{
            width: 100%;
            max-height: 152px;
            border-radius: 20px;
        }
        & .key{
            border-radius: 16px;
            color: #883AE1;
            background: #E6D6FC;
            align-self: start;
            padding: 6px 16px;
            font-size: smaller;
            font-weight: 600;
            transition: color, box-shadow 300ms linear ;
            /* &:hover{
                user-select: none;
                background: #f3eaff;
                box-shadow: 0 0 .5px .5px#883AE1;
                color: #ac7fdf;
            } */
        }
        
    }
    & .content{
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        gap: 6px;
         & .title {
            color: #20293A ;
         }
        /* border: 1px solid #333; */
    }
    & .footer{
        margin: 20px 0;
        min-height: 50px;
        border-top: 1px solid #e2e2e2;
        display: flex;
        flex-direction: column;
        place-content: flex-start end ;
        & .author{
            padding-left: 16px;
        }
     }
}


