@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');
* {
    box-sizing: border-box;
}
/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Add some styles for body*/
body {
    padding-top: 164px;
    color: #1c1d1d;
    font-family: 'Sora', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    display: grid;
    background: #FAFAF9;
    place-content: center;
}



.jv-card{
    font-size: 14px;
    max-width: 336px;
    height: min-content;
    background: white;
    color: #6C727F;
    border-radius: 20px;
    box-shadow: 0px 30px 100px 0px rgba(60, 60, 61, 0.034);

    & .header{
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-bottom: 16px;
   
        & .photo{
            width: 100%;
            max-height: 152px;
            border-radius: 20px;
        }
        & .key{
            border-radius: 16px;
            color: #883AE1;
            background-color: #E6D6FC;
            align-self: start;
            padding: 6px 16px;
            font-size: smaller;
            font-weight: 500;
            min-width: 4.5vw;
            display: inline-flex;
            user-select: none;
            place-content: center;
            transition: background-color, color,  300ms linear;
        }
        & .key:hover{
            background-color: #efe7fa;
            color: #a77adb;
        }
    }
    & .content{
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        gap: 6px;
        
         & .title {
            color: #20293A;
            font-size: medium;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
         }
    }
    & .footer{
        margin: 20px 0;
     
        border-top: 1px solid #e2e2e2;
        display: flex;
        flex-direction: column;
        place-content: flex-start end ;
        & .author{
            padding: 16px;
        }
     }
}


